* {
  margin: 0;
  padding: 0;
  font-family: 'Satoshi', sans-serif;
  background-color: #121212;
}

html {
  scroll-behavior: smooth;
}

.gradient {
  background: linear-gradient(90deg, #00dbde, #fc00ff);
  -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.link {
  color: #5865F2;
  text-decoration: none;
  transition: 0.3s;
}

.link:hover {
  color: #30357c;
  text-decoration: none;
}

::-webkit-scrollbar-thumb {
  background-color: #5865F2;
  border-radius: 6px;
}

.github {
  color: gray;
  transition: 0.3s;
}
.github:hover {
  color: white;
}

.twitter {
  color: gray;
  transition: 0.3s;
}

.twitter:hover {
  color: #1DA1F2;
}

.youtube {
  color: gray;
  transition: 0.3s;
}

.youtube:hover {
  color: #FF0000;
}

.discord {
  color: gray;
  transition: 0.3s;
  position: relative;
}

.discord:hover {
  color: #5865F2;
}

img {
  border-radius: 40px;
}

.text-box h1 {
  color: #fefeff;
  font-size: 40px;
}

.text-box p {
  color : #b3b4b5;
  font-size: 25px;
  text-decoration: none;
}
.text-box {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.btn-normal {
  display: inline-block;
  text-decoration: none;
  padding: 12px 34px;
  font-size: 20px;
  background: #5865F2;
  position: relative;
  cursor: pointer;
  border-radius: 50px;
  color: #fff;
}

.btn-normal:hover {
  background: #2f39a1;
  transition: 0.3s;
}

.disabled-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #141414;
  padding: 12px 34px;
  font-size: 15px;
  background: #141414;
  position: relative;
  cursor: not-allowed;
  border-radius: 50px;
}

